# cache
__pycache__
.ipynb_checkpoints

# editor
.vscode

# folders
venv
venv2
logs
notebooks
database/data

# env
.env
database/.env
backend/.env
backend/.env.server_sudo
backend/.env.docker_pudin
backend/.env.server_pudin

# poetry
poetry.lock
pyproject.toml

